{% extends "capstone/layout.html" %}

{% block body %}

    <div style="font-family: Candara; padding: 2vh 2vw; background-color: #ffd800; height: 100vh; text-align: center;">
    <h2>Register</h2>
        {% if message %}
        <div>{{ message }}</div>
        {% endif %}

        <form action="{% url 'register' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <br /><input class="form-control" style="text-align: center" autofocus type="text" name="username" placeholder="Username">
            </div>
            <div class="form-group">
                <input class="form-control" style="text-align: center" type="email" name="email" placeholder="Email Address">
            </div>
            <div class="form-group">
                <input class="form-control" style="text-align: center" type="password" name="password" placeholder="Password">
            </div>
            <div class="form-group">
                <input class="form-control" style="text-align: center" type="password" name="confirmation" placeholder="Confirm Password">
            </div>
            <input class="btn btn-primary" type="submit" value="Register">
        </form>

        Already have an account? <a href="{% url 'login' %}">Log In here.</a>
        </div>
        {% endblock %}
